@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-primary: #0f172a;
}

/* This tells the new engine to scan your files for classes */
@source "../**/*.{js,jsx,ts,tsx}";